name: "publish"
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  workflow_dispatch:

jobs:
  publish:
    permissions:
      contents: write
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            fyne_os: linux
            artifact_name: amnesia.tar.xz
            asset_name: amnesia-linux-amd64.tar.xz
          - os: windows-latest
            fyne_os: windows
            artifact_name: amnesia.exe
            asset_name: amnesia-windows-amd64.exe
          - os: macos-latest
            fyne_os: darwin
            artifact_name: amnesia.app
            asset_name: amnesia-macos-amd64.app

    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20.3
      - name: Download dependencies
        run: go mod download
      - name: Install fyne cmd
        run: go install fyne.io/fyne/v2/cmd/fyne@latest
      - name: Install dependencies (ubuntu only)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf gcc libgl1-mesa-dev xorg-dev
      - name: Build for ${{ matrix.os }}
        run: fyne package -os ${{ matrix.fyne_os }} -appID "com.lenforiee.amnesia" -icon "assets/logo.png" -name "amnesia" -release -appVersion 0.1.0
      - name: Upload files to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./${{ matrix.artifact_name }}
          asset_name: ${{ matrix.asset_name }}
          tag: ${{ github.ref }}
